<a href="https://colab.research.google.com/github/akilahjo/hw1/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Only submission is via the Canvas.
• Please make sure that you upload the .py file to Canvas and provide a link to your GitHub repository where you need
to upload your .ipynb (Python Notebook)
• No late submissions will be accepted unless you have an excuse.
• You may need to show your answers to me in class during lab time.
1. Create a GitHub if you don’t have and provide your user name as a text submission.
2. Use pandas to read the olympic_medals.csv from the DATA folder on Google Drive. Then perform the followings by
using pandas and/or Python built-in functions.

(a) Find the size of the data frame. How many rows, how many columns?

(b) Use the appropriate function to report the data types for all columns.

(c) Find how many unique cities matches were held at. (Hint: unique( ). For instance, the following example tells
how many unique Events held:)
len(medals['Event'].unique())

(d) Find how many medals the USA team won in total.

(e) Find the total number of medals for each Nationality. (Hint: please search for groupby() function with count.
For instance, the following example counts at how many locations each event was held. )
medals.groupby(by='Event')['Location'].count()

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
medals = pd.read_csv('/content/drive/MyDrive/DATA/olympic_medals.csv')
medals

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77
...,...,...,...,...,...,...,...,...
2389,W,Triple Jump Women,Athens,2004,S,Hrysopiyi DEVETZI,GRE,15.25
2390,W,Triple Jump Women,Athens,2004,B,Tatyana LEBEDEVA,RUS,15.14
2391,W,Triple Jump Women,Atlanta,1996,G,Inessa KRAVETS,UKR,15.33
2392,W,Triple Jump Women,Atlanta,1996,S,Inna LASOVSKAYA,RUS,14.98
2393,W,Triple Jump Women,Atlanta,1996,B,Sarka KASPARKOVA,CZE,14.98

(a) Find the size of the data frame. How many rows, how many columns?

In [4]:
medals.shape

(2394, 8)

(b) Use the appropriate function to report the data types for all columns.

In [5]:
medals.dtypes

Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

(c) Find how many unique cities matches were held at. (Hint: unique( ). For instance, the following example tells how many unique Events held:) len(medals['Event'].unique())

In [8]:
medals['Location'].unique()

array(['Rio', 'Beijing', 'Sydney', 'Barcelona', 'Los Angeles', 'Montreal',
       'Mexico', 'Rome', 'Helsinki', 'Berlin', 'Amsterdam', 'Antwerp',
       'London', 'Athens', 'Atlanta', 'Moscow', 'Munich', 'Tokyo',
       'Melbourne / Stockholm', 'Paris', 'Stockholm', 'St Louis', 'Seoul'],
      dtype=object)

(d) Find how many medals the USA team won in total.

In [13]:
medals[medals['Nationality']=='USA'].count()

Gender         638
Event          638
Location       638
Year           638
Medal          638
Name           577
Nationality    638
Result         638
dtype: int64

(e) Find the total number of medals for each Nationality. (Hint: please search for groupby() function with count. For instance, the following example counts at how many locations each event was held. ) medals.groupby(by='Event')['Location'].count()

In [15]:
medals.groupby(by='Nationality')['Medal'].count()

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64